/*
	固定元素高度总和：header:50; tool-bar: 50; content-title: 50;
	150
*/
/*修改bootstrap 默认样式*/
.table>tbody>tr>td{
	vertical-align: middle !important; 
}
.glyphicon-edit:before{
	position: relative;
	z-index: 1;
}
/*上传文件弹出层样式*/
#upload-file-floor{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 80;
}
.upload-file-wrap{
	width: 850px;
	height: 500px;
	margin: 5% auto 0 auto;
	background-color: #fff;
	border-radius: 10px;
}
.close-btn,.upload-file-title,.upload-file-input,.upload-file-dropzone{
	width: 90%;
	margin: 10px auto 0 auto;
}
.upload-file-dropzone{
	height: 250px;
}
.upload-file-input{
	word-spacing: -6px;
	height: 35px;
	line-height: 35px;
}
.upload-file-input label,.upload-file-input input{
	display: inline-block;
	vertical-align: top;
	height: 35px;
	line-height: 35px;
	word-spacing: 0;
}
.upload-file-input label{
	width: 10%;
	background-color: #337ab7;
	border-radius: 5px 0px 0px 5px;
	color: #fff;
	text-align: center;
}
.upload-file-input input{
	width: 90%;
	border: 1px solid #337ab7;
	border-radius: 0px 5px 5px 0px;
	padding-left: 5px;
}
.close-btn{
	height: 45px;
	line-height: 45px;
	text-align: right;
}
.close-btn button{
	display: inline-block;
	vertical-align: middle;
	height: 45px;
	line-height: 45px;
	font-size: 30px;
}
/*修改上传文件插件默认样式*/
.file-preview{
	height: 100%;
}
.file-drop-zone{
	width: 95%;
	height: 230px;
	margin: 5px auto 0 auto;
}
.file-drop-zone-title{
	height: 100%;
	padding: 60px 10px;
}
.file-preview-frame{
	margin: 0;
}
.kv-file-upload{
	display: none;
}
/*顶部信息栏样式*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 21;
	background-color: #333333;
}
.title-wrap{
	float: left;
	width: 250px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.title-wrap h3{
	display: inline-block;
	vertical-align: middle;
	width: 70%;
	color: #fff;
}
.header-tag{
	float: right;
	width: 120px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
/*顶部信息分隔线样式*/
.overide{
	width: 5px;
	height: 30px;
	line-height: 50px;
	color: #fff;
}
#release-msg,#manage-msg{
	color: #fff;
	cursor: pointer;
}
#user-name{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #fff;
	cursor: default;
}
#user-name:hover,#release-msg:hover,#manage-msg:hover{
	color: #FF6600;
}
/*用户操作弹出层样式*/
#user-operate{
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	background-color: #242C37;
	visibility: hidden;
}
#user-operate ul li{
	height: 35px;
	line-height: 35px;
	color: #fff;
	text-align: center;
}
#user-operate ul li a{
	color: #fff;
}
#user-operate ul li a:hover{
	color: #FF6600;
}
#logout-btn{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 40px;
	color: #fff;
	text-align: center;
	cursor: default;
}
#logout-btn:hover{
	color: #FF6600;
}
/*面包屑导航栏样式*/
#bread-crumb{
	position: fixed;
	width: 100%;
	left: 0;
	top: 50px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	word-spacing: -6px;
	z-index: 20;
}
.crumb-hint{
	display: inline-block;
	width: 10%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	word-spacing: 0px;
}
#bread-crumb .breadcrumb{
	display: inline-block;
	vertical-align: top;
	width: 85%;
	height: 45px;
	line-height: 45px;
	padding: 0;
	margin: 0;
	background-color: #fff;
}
#bread-crumb .breadcrumb li{
	display: inline-block;
	vertical-align: middle;
	height: 25px;
	line-height: 25px;
	width: 10%;
	word-spacing: 0px;
}
#bread-crumb .breadcrumb li a{
	display: inline-block;
	vertical-align: middle;
	width: 70%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#hidden-meun-item-btn{
	position: relative;
	padding-left: 5px;
	display: inline-block;
}
#hidden-meun-item-btn .btn{
	display: none;
}
/*溢出导航包裹层样式*/
#overflow-item-wrap{
	display: none;
	position: absolute;
	width: 220px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0px 5px 10px #666;
	border-radius: 5px;
}
#overflow-item-wrap li{
	padding-top: 10px;
	cursor: default;
}
#overflow-item-wrap li a{
	display: inline-block;
	vertical-align: middle;
	width: 80%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#overflow-item-wrap li a:hover{
	text-decoration: underline;
}
#overflow-item-wrap li:hover{
	background-color: #f5f5f5;
}
/*底部内容表格包裹层样式*/
.content{
	padding-top: 200px;
}
.content .table tbody tr{
	height: 25px;
	line-height: 25px;
}
.content .table tbody tr td{
	vertical-align: middle;
	height: 25px;
	line-height: 25px;
}
#main-content-wrap{
	margin-top: 20px;
	word-spacing: -6px;
}
/*功能栏样式*/
.main-tool-bar{
	position: fixed;
	top: 100px;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	background-color: #fff;
	z-index: 5;
}
.main-tool-bar button{
	margin-right: 5px;
}
/*标题栏样式*/
.main-content-title{
	position: fixed;
	top: 150px;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	background-color: #fff;
	box-shadow: 0 5px 8px rgba(0,0,0,0.4);
	word-spacing: -6px;
	z-index: 5;
}
.content-select,.content-name,.content-author,.content-publish-time,.content-edit-btn{
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}
.content-name{
	width: 40%;
	word-spacing: 0;
}
.content-select,.content-author,.content-publish-time,.content-edit-btn{
	width: 15%;
	word-spacing: 20px;
}
.file-name,.item-author,.item-publish-time,.operate-btn{
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
.file-name{
	width: 40%;
}
.item-selectbox,.item-author,.item-publish-time,.operate-btn{
	width: 15%;
	word-spacing: 0;
}
/*定义文件夹背景类*/
.floder:before{
	content: url(../images/flodericon1.png);
	display: inline-block;
	vertical-align: middle;
}
/*定义文件背景类*/
.file:before{
	content: url(../images/fileicon1.png);
	display: inline-block;
	vertical-align: middle;
}