/*
	固定元素高度总和：header:50; tool-bar: 50; content-title: 50;
	150
*/
/*上传文件弹出层样式*/
#release-msg-content{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 20;
}
#release-msg-content form{
	width: 500px;
	height: 350px;
	margin: 15% auto 0 auto;
	background-color: #fff;
}
#close-btn{
	padding-right: 15px;
	text-align: right;
	font-size: 20px;
	cursor: pointer;
}
#release-msg-content form h3{
	text-align: center;
}
.release-msg-wrap{
	width: 400px;
	margin: 20px auto 0 auto;
}
.release-msg-wrap span{
	display: block;
}
#first-nav-select,#second-nav-select{
	border: 1px solid #ccc;
	height: 30px;
	margin-top: 10px;
}
#upload-file{
	width: 80px;
	height: 35px;
	background-color: #339933;
	color: #fff;
}
/*文件标题输入框样式*/
#release-msg-title{
	width: 210px;
	height: 30px;
	line-height: 20px;
	padding-left: 3px;
	border: 1px solid #ccc;
}
/*顶部信息栏样式*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 20;
	background-color: #333333;
}
.title-wrap{
	float: left;
	width: 250px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.title-wrap h3{
	display: inline-block;
	vertical-align: middle;
	width: 70%;
	color: #fff;
}
.header-tag{
	float: right;
	width: 120px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
/*顶部信息分隔线样式*/
.overide{
	width: 5px;
	height: 30px;
	line-height: 50px;
	color: #fff;
}
#release-msg,#manage-msg{
	color: #fff;
	cursor: pointer;
}
#user-name{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #fff;
	cursor: default;
}
#user-name:hover,#release-msg:hover,#manage-msg:hover{
	color: #FF6600;
}
/*用户操作弹出层样式*/
#user-operate{
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	background-color: #242C37;
	z-index: 999;
	visibility: hidden;
}
#user-operate ul li{
	height: 35px;
	line-height: 35px;
	color: #fff;
	text-align: center;
}
#user-operate ul li a{
	color: #fff;
}
#user-operate ul li a:hover{
	color: #FF6600;
}
#logout-btn{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 40px;
	color: #fff;
	text-align: center;
	cursor: default;
}
#logout-btn:hover{
	color: #FF6600;
}
/*面包屑导航栏样式*/
#bread-crumb{
	position: fixed;
	width: 100%;
	left: 0;
	top: 50px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	word-spacing: -6px;
	z-index: 20;
}
#bread-crumb .breadcrumb{
	display: inline-block;
	width: 85%;
	height: 45px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	word-spacing: 0px;
}
#bread-crumb .breadcrumb ul{
	width: 100%;
	height: 50px;
}
#bread-crumb .breadcrumb ul li{
	width: 100%;
	height: 50px;
}
.hidden-meun-item-btn{
	position: relative;
	display: none;
	padding-left: 5px;
	display: inline-block;
	z-index: 10;
}
.crumb-hint{
	display: inline-block;
	width: 10%;
	height: 45px;
	text-align: center;
	word-spacing: 0px;
}
.content{
	padding-top: 200px;
	word-spacing: -6px;
}
#main-content-wrap{
	margin-top: 20px;
	word-spacing: -6px;
}
#overflow-item-wrap{
	display: none;
	position: absolute;
	width: 220px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0px 5px 10px #666;
	border-radius: 5px;
	z-index: 20;
	border: 1px solid red;
}
#overflow-item-wrap li{
	padding-top: 10px;
}
#overflow-item-wrap li a{
	text-decoration: none;
}
#overflow-item-wrap li:hover{
	background-color: #f5f5f5;
}
/*功能栏样式*/
.main-tool-bar{
	position: fixed;
	top: 100px;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	background-color: #fff;
}
/*标题栏样式*/
.main-content-title{
	position: fixed;
	top: 150px;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	background-color: #fff;
	box-shadow: 0 5px 8px rgba(0,0,0,0.4);
}
.content-name,.content-author,.content-publish-time{
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}
.content-name{
	width: 80%;
}
.content-author,.content-publish-time{
	width: 10%;
}
/*文件样式包裹层*/
#main-content-wrap li{
	height: 50px;
	line-height: 50px;
	word-spacing: -6px;
	border-top: 1px solid #F2F6FD;
	border-bottom: 1px solid #F2F6FD;
}
#main-content-wrap li:hover{
	background-color: #F6FAFF;
	border-top: 1px solid #F6FAFF;
	border-bottom: 1px solid #F6FAFF;
}
.item-name,.item-author,.item-publish-time{
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	word-spacing: 0;
}
.item-name{
	width: 80%;
}
.item-author,.item-publish-time{
	width: 10%;
}
/*定义文件夹背景类*/
.floder:before{
	content: url(../images/flodericon1.png);
	display: inline-block;
	vertical-align: middle;
}
/*定义文件背景类*/
.file:before{
	content: url(../images/fileicon1.png);
	display: inline-block;
	vertical-align: middle;
}