/*上传文件弹出层样式*/
#release-msg-content{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 20;
}
#release-msg-content form{
	width: 500px;
	height: 350px;
	margin: 15% auto 0 auto;
	background-color: #fff;
}
#close-btn{
	padding-right: 15px;
	text-align: right;
	font-size: 20px;
	cursor: pointer;
}
#release-msg-content form h3{
	text-align: center;
}
.release-msg-wrap{
	width: 400px;
	margin: 20px auto 0 auto;
}
.release-msg-wrap span{
	display: block;
}
#first-nav-select,#second-nav-select{
	border: 1px solid #ccc;
	height: 30px;
	margin-top: 10px;
}
#upload-file{
	width: 80px;
	height: 35px;
	background-color: #339933;
	color: #fff;
}
/*文件标题输入框样式*/
#release-msg-title{
	width: 210px;
	height: 30px;
	line-height: 20px;
	padding-left: 3px;
	border: 1px solid #ccc;
}
/*顶部信息栏样式*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 20;
	background-color: #333333;
}
.title-wrap{
	float: left;
	width: 250px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.title-wrap h3{
	display: inline-block;
	vertical-align: middle;
	width: 70%;
	color: #fff;
}
.header-tag{
	float: right;
	width: 120px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
/*顶部信息分隔线样式*/
.overide{
	width: 5px;
	height: 30px;
	line-height: 50px;
	color: #fff;
}
#release-msg,#manage-msg{
	color: #fff;
	cursor: pointer;
}
#user-name{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #fff;
	cursor: default;
}
#user-name:hover,#release-msg:hover,#manage-msg:hover{
	color: #FF6600;
}
/*用户操作弹出层样式*/
#user-operate{
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	background-color: #242C37;
	z-index: 999;
	visibility: hidden;
}
#user-operate ul li{
	height: 35px;
	line-height: 35px;
	color: #fff;
	text-align: center;
}
#user-operate ul li a{
	color: #fff;
}
#user-operate ul li a:hover{
	color: #FF6600;
}
#logout-btn{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 40px;
	color: #fff;
	text-align: center;
	cursor: default;
}
#logout-btn:hover{
	color: #FF6600;
}
/*面包屑导航栏样式*/
#bread-crumb{
	position: fixed;
	width: 100%;
	left: 0;
	top: 50px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	word-spacing: -6px;
}
#bread-crumb .breadcrumb{
	display: inline-block;
	width: 90%;
	height: 45px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	word-spacing: 0px;
}
#bread-crumb .breadcrumb ol{
	width: 100%;
	height: 50px;
}
#bread-crumb .breadcrumb ol li{
	width: 100%;
	height: 50px;
}
.crumb-hint{
	display: inline-block;
	width: 10%;
	height: 45px;
	text-align: center;
	word-spacing: 0px;
}
.content{
	padding-top: 110px;
	word-spacing: -6px;
}
#main-content-wrap{
	word-spacing: -6px;
}
/*文件样式包裹层*/
.file-wrap{
	display: inline-block;
	width: 10%;
	padding: 10px;
	word-spacing: 0px;
	text-align: center;
	word-spacing: 0px;
	border: 1px solid red;
}
.file-icon{
	width: 80px;
	height: 80px;
	margin: 0 auto;
}
/*定义文件夹背景类*/
.floder{
	background-image: url(../images/flodericon.png);
	background-size: cover;
	background-position: center;
}
/*定义文件背景类*/
.file{
	background-image: url(../images/fileicon.png);
	background-size: cover;
	background-position: center;
}