thead,tbody,tbody tr,tbody tr td{
	height: 35px;
	line-height: 35px;
}
.breadcrumb>li+li:before{
	padding: 0 3px;
}
/*重命名文件夹对话框样式*/
#modify-file-name-wrap,#new-file-wrap{
	display: none;
	position: absolute;
	width: 450px;
	height: 220px;
	top: 50%;
	left: 50%;
	margin-left: -225px;
	margin-top: -110px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(160,162,122,0.5);
	z-index: 30;
}
#modify-file-name-wrap .input-wrap{
	width: 80%;
	height: 40px;
	line-height: 40px;
	margin: 20px auto 0 auto;
}
.self-input-group{
	width: 80%;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	word-spacing: -6px;
}
.self-input-group label,.self-input-group input{
	display: inline-block;
	height: 35px;
	line-height: 35px;
}
.self-input-group label{
	width: 30%;
	background-color: #337ab7;
	border-radius: 5px 0px 0px 5px;
	color: #fff;
	text-align: center;
}
.self-input-group input{
	width: 70%;
	border: 1px solid #337ab7;
	border-radius: 0px 5px 5px 0px;
	padding-left: 5px;
}
.btn-align{
	text-align: right;
}
#new-file-wrap h3,#modify-file-name-wrap h3{
	height: 38px;
	line-height: 38px;
	margin-bottom: 10px;
	padding-left: 20px;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
}
/*管理文件夹弹出层样式*/
#manage-file-floor{
	position: relative;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	z-index: 30;
}
/*文件夹管理弹出层内容*/
.filemanage-info{
	width: 80%;
	height: 600px;
	margin: 20px auto 0 auto;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(160,162,122,0.5);
}
.close-btn{
	padding-right: 10px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
}
.close-btn .close{
	font-size: 30px;
}
.manage-tool-bar{
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	background-color: #fff;
}
.crumb-nav{
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	word-spacing: -6px;
	z-index: 20;
}
.crumb-nav .crumb-hint{
	display: inline-block;
	width: 10%;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
}
.crumb-nav .breadcrumb{
	display: inline-block;
	width: 85%;
	height: 25px;
	line-height: 25px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	word-spacing: 0px;
}
.crumb-nav .breadcrumb li{
	width: 10%;
	height: 25px;
	line-height: 25px;
}
.crumb-nav .breadcrumb li a{
	display: inline-block;
	vertical-align: middle;
	width: 70%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#hidden-meun-item-btn{
	position: relative;
	padding-left: 5px;
	display: inline-block;
	z-index: 20;
}
#hidden-meun-item-btn .btn{
	display: none;
}
/*溢出导航包裹层样式*/
#overflow-item-wrap{
	display: none;
	position: absolute;
	width: 220px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0px 5px 10px #666;
	border-radius: 5px;
}
#overflow-item-wrap li{
	padding-top: 10px;
	cursor: default;
}
#overflow-item-wrap li a{
	display: inline-block;
	width: 90%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#overflow-item-wrap li a:hover{
	text-decoration: underline;
}
#overflow-item-wrap li:hover{
	background-color: #f5f5f5;
}
/*选择系别侧边栏样式*/
.manage-nav-main{
	height: 450px;
	margin-top: 30px;
}
#manage-side-bar{
	float: left;
	width: 20%;
	height: 100%;
	border-right: 1px solid #ccc;
	box-shadow: 0 5px 0 0 5px rgba(160,162,122,0.5);
}
#manage-side-bar h3{
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
}
#manage-side-item{
	margin-top: 10px;
}
#manage-side-item li{
	height: 45px;
	line-height: 45px;
	padding-left: 10px;
	color: #333;
	cursor: pointer;
}
#manage-side-item li:hover{
	background-color: #E4E9EC;
}
.manage-main-content{
	position: relative;
	float: right;
	width: 80%;
	height: 100%;
	padding-top: 40px;
}
.content-title{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	word-spacing: -6px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	z-index: 5;
}
.title-1,.title-2,.title-3{
	display: inline-block;
	vertical-align: middle;
	height: 37px;
	line-height: 37px;
	padding-left: 5px;
	word-spacing: 0;
}
.title-1,.title-3{
	width: 20%;
}
.title-2{
	width: 60%;
}
.manage-main-content .table{
	width: 100%;
	height: 450px;
}
.file-content-item{
	height: 400px;
	overflow-y: scroll;
}
.manage-main-content .table tbody tr{
	/*vertical-align: middle;*/
	height: 25px;
	line-height: 25px;
}
.manage-main-content .table tbody tr td{
	vertical-align: middle;
	height: 25px;
	line-height: 25px;
}
.manage-main-content .table tbody tr td:nth-child(1),
.manage-main-content .table tbody tr td:nth-child(3){
	width: 20%;
}
.manage-main-content .table tbody tr td:nth-child(2){
	width: 60%;
}
.floder:before{
	content: url(../images/flodericon1.png);
	display: inline-block;
	vertical-align: middle;
}
/*左侧边栏活动状态样式*/
.filedep-item-active{
	background-color: #E4E9EC;
}
/*文件夹管理弹出层结束*/
/*弹出层样式*/
#floor{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 20;
}
/*拒绝用户信息包裹层样式*/
#refuse-info{
	width: 600px;
	height: 400px;
	margin: 10% auto 0 auto;
	padding-top: 1px;
	background-color: #ffffff;
	border-radius: 10px;
}
.close{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
#refuse-info h3{
	width: 90%;
	margin: 10px auto 0 auto;
}
/*撤回用户弹出层 和 拒绝注册弹出层包裹层样式*/
.recall-user-wrap,.refuse-info-wrap{
	width: 90%;
	margin: 15px auto 0 auto;
}
/*撤回用户弹出层 和 拒绝注册弹出层 label元素样式*/
.recall-user-wrap label,.refuse-info-wrap label{
	display: block;
}
/*拒绝理由 和 撤回理由输入框样式*/
#refuse-content,#recall-content{
	width: 100%;
	height: 150px;
	margin-top: 10px;
	padding-left: 5px;
	border: 1px solid #000;
}
/*发送拒绝理由按钮 和 没有理由直接拒绝按钮综合样式*/
#send-refuse-info,#no-refuse-reason{
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
}
/*发送拒绝理由按钮样式*/
#send-refuse-info{
	background-color: #999;
}
/*没有理由直接拒绝按钮样式*/
#no-refuse-reason{
	background-color: #d20003;
}
/*撤回用户使用权弹出层提示内容包裹层 和 删除导航弹出层内容包裹层样式*/
.recall-user-wrap{
	width: 90%;
	margin: 15px auto 0 auto;
}
/*取消撤回按钮、确认撤回按钮、取消删除导航按钮、确认删除导航按钮综合样式*/
#cancel-recall-user,#confirm-recall-user{
	width: 80px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	border-radius: 5px;
}
/*取消撤回按钮和取消删除导航按钮 单独样式*/
#cancel-recall-user{
	background-color: #44BB44;
}
/*删除主体名称提示字段样式*/
#refuse-username,#recall-username{
	font-size: 17px;
	color: #000;
}
/*撤回用户弹出层独立样式*/
#recall-user{
	width: 600px;
	height: 349px;
	margin: 10% auto 0 auto;
	padding-top: 1px;
	background-color: #ffffff; 
	border-radius: 10px;
}
/*确认撤回按钮独立样式*/
#confirm-recall-user{
	background-color: #999;
}
/*弹出层提示内容包裹层样式*/
.operate-hint{
	display: inline-block;
	width: 100%;
	background-color: #F2DEDF;
	border: 2px solid #EBCBD0;
	font-size: 15px;
	color: #A9433F;
}
/*加载图片样式*/
.loading-icon{
	visibility: hidden;
	width: 18px;
	height: 18px;
}
#refuse-user-loading-icon,#recall-user-loading-icon{
	width: 30px;
	height: 30px;
}
.wrapper{
	width: 100%;
	height: 100%;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	font-size: 15px;
	background-color: #333333;
}
.title-wrap{
	float: left;
	width: 250px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.title-wrap h3{
	display: inline-block;
	vertical-align: middle;
	width: 70%;
	color: #fff;
	font-size: 20px;
}
.logout-btn-wrap{
	float: right;
	height: 50px;
	line-height: 50px;
	padding-right: 30px;
}
#logout-btn{
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #fff;
	color: #fff;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
#logout-btn:hover{
	background-color: #fff;
	color: #000;
}
.mainbody{
	padding-top: 60px;
	padding-left: 220px;
}
.side-bar{
	position: fixed;
	top: 50px;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: #494E52;
}
.side-bar li{
	height: 45px;
	line-height: 45px;
	font-size: 15px;
}
#tag-manage,#user-manage{
	line-height: 40px;
	background-color: #BEC2C5;
	text-align: center;
	cursor: default;
}
#manage-floder{
	height: 45px;
	line-height: 45px;
	padding-left: 30px;
	color: #fff;
	cursor: default;
}
#manage-floder:hover{
	background-color: #fff;
	color: #434343;
}
.child-tag{
	line-height: 30px;
	padding-left: 30px;
	color: #fff;
	cursor: default;
}
.child-tag:hover{
	background-color: #fff;
	color: #434343;
}
#number-hints{
	display: none;
	vertical-align: middle;
	margin-left: 5px;
	padding: 2px;  
	line-height: 22px;
	background-color: #E40045;
	color: #fff;
	font-size: 12px;
	text-align: center;
	border-radius: 50%;
}
/*右侧内容外层包裹层*/
.content{
	width: 98%;
	margin: 0 auto;
}
/*右侧模块包裹层*/
.content-wrap{
	display: none;
}
/*右侧模块包裹层下加载显示层样式（loading 图标层）*/
.loading-icon-wrap{
	display: none;
	width: 100%;
	height: 350px;
	line-height: 350px;
	text-align: center;
}
/*右侧加载图标样式*/
.loading-icon-wrap img{
	vertical-align: middle;
}
/*增加导航栏模块包裹层*/
.add-tag-wrap{
	width: 80%;
	margin: 30px auto 0 auto;
	text-align: center;
}
.add-tag-wrap p{
	width: 60%;
	margin: 15px auto 0 auto;
	text-align: left;
}
.add-tag-title{
	margin-bottom: 20px;
}
#add-tag-department{
	width: 120px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #999;
}
#father-tag-content,#childTagContent{
	width: 180px;
	height: 35px;
	line-height: 35px;
	padding-left: 5px;
	border-bottom: 1px solid #999;
}
#child-tag-wrap{
	display: none;
}
#add-tag-btn{
	width: 120px;
	height: 35px;
	line-height: 35px;
	background-color: #FF9900;
	color: #fff;
}
#add-tag-hint{
	visibility: hidden;
}
/*修改导航，删除导航模块样式*/
.modify-tag-wrap,.unexamie-wrap,.examie-wrap{
	width: 90%;
	margin: 30px auto 0 auto;
}
.filter-style{
	width: 125px;
	border-bottom: 1px solid #999;
}
.message-list{
	width: 100%;
	margin-top: 20px;
}
.pass{
	margin-right: 5px;
}
.divid-page-wrap{
	text-align: center;
}
/*侧边栏标签点击增加样式*/
.sidebar-tag-active{
	background-color: #fff;
	color: #000;
}