body{
	background-color: #EDEDEF;
}
thead,tbody,tbody tr,tbody tr td{
	height: 35px;
	line-height: 35px;
}
.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th{
	vertical-align: middle;
}
.breadcrumb>li+li:before{
	padding: 0 3px;
}
/*调整bootstrap 关闭按钮的图标样式*/
.close span{
	display: block;
	height: auto;
}
/*撤回管理员对话框样式*/
#recall-admin-dialog-floor,
#recall-leader-dialog-floor,
#modify-user-department-floor{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	z-index: 30;
}
.manage-admin-dialog-wrap,
.manage-leader-dialog-wrap,
.modify-dep-dialog-wrap{
	position: absolute;
	width: 550px;
	height: 280px;
	top: 50%;
	left: 50%;
	margin-top: -175px;
	margin-left: -275px;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(160,162,122,0.5);
	background-color: #fff;
}
.manage-admin-dialog-wrap h3,
.manage-leader-dialog-wrap h3,
.modify-dep-dialog-wrap h3{
	height: 40px;
	margin: 20px auto 0 auto;
	padding-left: 10px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
}
/*撤回领导，撤回管理员，修改用户部门提示信息包裹层*/
.recall-admin-hint,
.recall-leader-hint{
	width: 90%;
	margin: 20px auto 0 auto;
	background-color: rgba(235, 63, 47, 0.6);
	border: 1px solid rgb(235, 63, 47);
	border-radius: 5px;
	font-size: 15px;
}
#recall-admin-name,#recall-leader-name{
	font-size: 17px;
}
.recall-admin-btn,.recall-leader-btn,.modify-dep-btn{
	width: 90%;
	margin: 30px auto 0 auto;
}
/*修改用户部门可选部门下拉框包裹层样式*/
.select-wrap,.modify-user-name-wrap{
	width: 90%;
	margin: 10px auto 0 auto;
}
.modify-user-name-wrap{
	word-spacing: -6px;
}
.modify-user-name-wrap label,.modify-user-name-wrap input{
	display: inline-block;
	word-spacing: 0;
}
.modify-user-name-wrap label{
	width: 20%;
	height: 38px;
	line-height: 38px;
	background-color: #337ab7;
	border-radius: 5px 0px 0px 5px;
	color: #fff;
	text-align: center;
}
.modify-user-name-wrap input{
	width: 80%;
	height: 38px;
	line-height: 38px;
	border: 1px solid #337ab7;
	border-radius: 0px 5px 5px 0px;
	padding-left: 5px;
}
/*选择部门下拉框样式*/
.select-wrap select{
	border: 1px solid #ccc;
	height: 25px;
}
/*重命名文件夹对话框样式*/
#modify-file-name-wrap,#new-file-wrap{
	display: none;
	position: absolute;
	width: 450px;
	height: 220px;
	top: 50%;
	left: 50%;
	margin-left: -225px;
	margin-top: -110px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(160,162,122,0.5);
	z-index: 30;
}
#modify-file-name-wrap .input-wrap{
	width: 80%;
	height: 40px;
	line-height: 40px;
	margin: 20px auto 0 auto;
}
.self-input-group{
	width: 80%;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	word-spacing: -6px;
}
.self-input-group label,.self-input-group input{
	display: inline-block;
	vertical-align: top;
	height: 35px;
	line-height: 35px;
}
.self-input-group label{
	width: 30%;
	background-color: #337ab7;
	border-radius: 5px 0px 0px 5px;
	color: #fff;
	text-align: center;
}
.self-input-group input{
	width: 70%;
	border: 1px solid #337ab7;
	border-radius: 0px 5px 5px 0px;
	padding-left: 5px;
}
.btn-align{
	text-align: right;
}
#newfloder-msg-hint,#modify-msg-hint{
	width: 80%;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
}
/*新建文件夹，修改文件夹名，删除文件夹，删除文件对话框样式*/
#new-file-wrap h3,#modify-file-name-wrap h3,
#drop-floder-wrap h3,#drop-file-wrap h3{
	height: 38px;
	line-height: 38px;
	margin-bottom: 10px;
	padding-left: 20px;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
}
/*删除文件夹和删除文件对话框样式*/
#drop-floder-wrap,#drop-file-wrap{
	display: none;
	position: absolute;
	width: 550px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-left: -275px;
	margin-top: -150px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(160,162,122,0.5);
	z-index: 30;
}
/*删除文件夹对话框和删除文件对话框提示字段样式*/
#drop-floder-wrap .drop-floder-msg,
#drop-file-wrap .drop-floder-msg{
	width: 95%;
	margin: 40px auto 0 auto;
	border: 2px solid #eb3f2f;
	background-color: rgba(235,63,47,0.6);
	font-size: 14px;
}
/*删除文件夹，删除文件对话框按钮包裹层样式*/
#drop-floder-wrap .drop-floder-btn,
#drop-file-wrap .drop-floder-btn{
	width: 95%;
	margin: 70px auto 0 auto;
}
/*删除文件夹，删除文件对话框文件名样式*/
#target-floder-name,#target-file-name{
	font-size: 16px;
}
/*删除文件夹，删除文件对话框加载图标样式*/
#drop-floder-loading-icon,#drop-file-loading-icon{
	visibility: hidden;
	width: 30px;
	height: 30px;
}
/*管理文件夹弹出层样式*/
#manage-file-floor{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	z-index: 30;
}
/*文件夹管理弹出层内容*/
.filemanage-info{
	position: absolute;
	width: 1000px;
	height: 620px;
	top: 50%;
	left: 50%;
	margin-top: -310px;
	margin-left: -500px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(160,162,122,0.5);
}
.close-btn{
	padding-right: 10px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
}
.close-btn .close{
	font-size: 30px;
}
.manage-tool-bar{
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	background-color: #fff;
}
.crumb-nav{
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	word-spacing: -6px;
	z-index: 20;
}
.crumb-nav .crumb-hint{
	display: inline-block;
	vertical-align: middle;
	width: 10%;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
}
.crumb-nav .breadcrumb{
	display: inline-block;
	width: 85%;
	height: 25px;
	line-height: 25px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	word-spacing: 0px;
}
.crumb-nav .breadcrumb li{
	height: 25px;
	line-height: 25px;
}
#hidden-meun-item-btn{
	position: relative;
	padding-left: 5px;
	display: inline-block;
	z-index: 20;
}
#hidden-meun-item-btn .btn{
	 display: none;
}
#overflow-item-wrap{
	display: none;
	position: absolute;
	width: 220px;
	height: 400px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0px 5px 10px #666;
	border-radius: 5px;
	overflow-y: scroll;
}
#overflow-item-wrap ul li{
	padding-top: 10px;
	cursor: default;
}
#overflow-item-wrap ul li a{
	display: inline-block;
	width: 90%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#overflow-item-wrap ul li a:hover{
	text-decoration: underline;
}
#overflow-item-wrap ul li:hover{
	background-color: #f5f5f5;
}
/*选择系别侧边栏样式*/
.manage-nav-main{
	height: 450px;
	margin-top: 30px;
}
#manage-side-bar{
	float: left;
	width: 20%;
	height: 100%;
	border-right: 1px solid #ccc;
	box-shadow: 0 5px 0 0 5px rgba(160,162,122,0.5);
	overflow-y: scroll;
}
#manage-side-bar h3{
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
}
#manage-side-item{
	margin-top: 10px;
}
#manage-side-item li,#manage-department-list li{
	height: 45px;
	line-height: 45px;
	padding-left: 10px;
	color: #333;
	cursor: pointer;
}
#manage-side-item li:hover{
	background-color: #E4E9EC;
}
.manage-main-content{
	position: relative;
	float: right;
	width: 80%;
	height: 100%;
	padding-top: 40px;
}
.content-title{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	word-spacing: -6px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	z-index: 5;
}
.title-1,.title-2,.title-3{
	display: inline-block;
	vertical-align: middle;
	height: 37px;
	line-height: 37px;
	padding-left: 5px;
	word-spacing: 0;
}
.title-1,.title-3{
	width: 20%;
}
.title-2{
	width: 60%;
}
.manage-main-content .table{
	width: 100%;
}
.file-content-item{
	height: 400px;
	overflow-y: scroll;
}
.file-content-item .table tr{
	height: 25px;
	line-height: 25px;
}
.file-content-item .table tr td{
	vertical-align: middle;
	height: 25px;
	line-height: 25px;
}
.file-content-item .table tr td:nth-child(1),
.file-content-item .table tr td:nth-child(3){
	width: 20%;
}
.file-content-item .table tr td:nth-child(2){
	width: 60%;
}
/*定义文件夹图标类*/
.floder:before{
	content: url(../images/flodericon1.png);
	display: inline-block;
	vertical-align: middle;
}
/*定义文件图标类*/
.file:before{
	content: url(../images/fileicon1.png);
	display: inline-block;
	vertical-align: middle;
}
/*左侧边栏活动状态样式*/
.filedep-item-active{
	background-color: #E4E9EC;
}
/*文件夹管理弹出层结束*/
/*管理系别及部门弹出层开始*/
/*新建系别对话框样式*/
#new-department-dialog,#new-specialy-dialog,
#modify-department-dialog,#modify-specialy-dialog{
	display: none;
	position: absolute;
	width: 550px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-left: -275px;
	margin-top: -150px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(160,162,122,0.5);
	z-index: 30;
}
.department-content{
	width: 95%;
	margin: 35px auto 0 auto;
	word-spacing: -6px;
}
.department-content label,.department-content input{
	display: inline-block;
	vertical-align: top;
	word-spacing: 0px;
}
.department-content label{
	width: 20%;
	height: 35px;
	line-height: 35px;
	background-color: #337ab7;
	border-radius: 5px 0px 0px 5px;
	color: #fff;
	text-align: center;
}
.department-content input{
	width: 80%;
	height: 35px;
	line-height: 35px;
	border: 1px solid #337ab7;
	border-radius: 0px 5px 5px 0px;
	padding-left: 5px;
}
#manage-department-floor{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	z-index: 30;
}
#manage-department-floor h3{
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	font-size: 18px;
	border-bottom: 1px solid #ccc;
}
.manage-department-wrap{
	width: 1000px;
	height: 600px;
	margin: 20px auto 0 auto;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(160,162,122,0.5);
}
.manage-department-toolbar{
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding-left: 10px;
}
/*页面初始化的时候添加专业按钮隐藏*/
#add-speciality{
	display: none;
}
.manage-department-main{
	height: 460px;
	margin-top: 20px;
}
#manage-dep-list-wrap{
	float: left;
	width: 30%;
	height: 420px;
	border-right: 1px solid #ccc;
	overflow-y: scroll;
}
.manage-department-main-sidebar li{
	height: 38px;
	line-height: 38px;
	padding-left: 10px;
}
.manage-department-main-sidebar li a{
	font-size: 15px;
	color: #333;
	text-decoration: none;
}
.manage-department-main-sidebar li:hover{
	background-color: #E4E9EC;
}
.manage-department-td button{
	margin-right: 3px;
}
/*当不存在系别的时候添加这个类名显示提示背景*/
.nodepartment-sidebar-bg{
	background: url(../images/manage-department-sidebar-bg.jpg);
	background-size: cover;
	background-position: center;
}
/*管理系别弹出层右侧主内容*/
.manage-department-maincontent{
	float: right;
	width: 70%;
	height: 460px;
	border-top: 1px solid #ccc;
	overflow-y: scroll;
}
.manage-department-td{
	width: 50%;
	text-align: center;
}
/*删除系别，删除部门对话框样式*/
#drop-department-dialog,#drop-specialy-dialog{
	display: none;
	position: absolute;
	width: 450px;
	height: 230px;
	top: 50%;
	left: 50%;
	margin-left: -225px;
	margin-top: -115px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(160,162,122,0.5);
	z-index: 30;
}
.department-operate-title{
	display: block;
	height: 50px;
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
}
.department-operate-wraming{
	width: 98%;
	margin: 40px auto 0 auto;
	border: 2px solid #eb3f2f;
	background-color: rgba(235,63,47,0.6);
	font-size: 15px; 
}
.department-operate-wraming b{
	font-size: 16px;
}
.department-operate-btn{
	width: 98%;
	margin: 30px auto 0 auto;
}
/*管理系别及部门弹出层结束*/
/*弹出层样式*/
#floor{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 20;
}
/*拒绝用户信息包裹层样式*/
#refuse-info{
	width: 600px;
	height: 400px;
	margin: 10% auto 0 auto;
	padding-top: 1px;
	background-color: #ffffff;
	border-radius: 10px;
}
.close{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
#refuse-info h3{
	width: 90%;
	margin: 10px auto 0 auto;
}
/*撤回用户弹出层 和 拒绝注册弹出层包裹层样式*/
.recall-user-wrap,.refuse-info-wrap{
	width: 90%;
	margin: 15px auto 0 auto;
}
/*撤回用户弹出层 和 拒绝注册弹出层 label元素样式*/
.recall-user-wrap label,.refuse-info-wrap label{
	display: block;
}
/*拒绝理由 和 撤回理由输入框样式*/
#refuse-content,#recall-content{
	width: 100%;
	height: 150px;
	margin-top: 10px;
	padding-left: 5px;
	border: 1px solid #000;
}
/*撤回用户弹出层独立样式*/
#recall-user{
	width: 600px;
	height: 349px;
	margin: 10% auto 0 auto;
	padding-top: 1px;
	background-color: #ffffff; 
	border-radius: 10px;
}
/*弹出层提示内容包裹层样式*/
.operate-hint{
	display: inline-block;
	width: 100%;
	background-color: #F2DEDF;
	border: 2px solid #EBCBD0;
	font-size: 15px;
	color: #A9433F;
}
/*加载图片样式*/
.loading-icon{
	visibility: hidden;
	width: 18px;
	height: 18px;
}
#refuse-user-loading-icon,#recall-user-loading-icon{
	width: 30px;
	height: 30px;
}
.wrapper{
	width: 100%;
	height: 100%;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	font-size: 15px;
	background-color: #333333;
	z-index: 20;
}
.title-wrap{
	float: left;
	width: 250px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.title-wrap h3{
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	width: 70%;
	color: #fff;
	font-size: 20px;
}
.logout-btn-wrap{
	float: right;
	height: 50px;
	line-height: 50px;
	padding-right: 30px;
}
#logout-btn{
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	height: 30px;
	line-height: 30px;
	margin-left: 20px;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-decoration: none
	cursor: pointer;
	transition: all linear .3s;
	-webkit-transition: all linear .3s;
	-moz-transition: all linear .3s;
	-ms-transition: all linear .3s;
	-o-transition: all linear .3s;
}
#modify-pwd-btn{
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: all linear .3s;
	-webkit-transition: all linear .3s;
	-moz-transition: all linear .3s;
	-ms-transition: all linear .3s;
	-o-transition: all linear .3s;
}
#logout-btn:hover,#modify-pwd-btn:hover{
	background-color: #fff;
	color: #000;
}
.mainbody{
	padding-top: 40px;
	padding-left: 220px;
}
.side-bar{
	position: fixed;
	top: 50px;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: #273C51;
}
.side-bar li{
	height: 45px;
	line-height: 45px;
	font-size: 15px;
}
#tag-manage,#user-manage{
	line-height: 40px;
	background-color: #BEC2C5;
	text-align: center;
	cursor: default;
}
#manage-floder,#manage-department{
	height: 45px;
	line-height: 45px;
	padding-left: 30px;
	color: #fff;
	cursor: default;
	transition: all linear .3s;
	-webkit-transition: all linear .3s;
	-moz-transition: all linear .3s;
	-ms-transition: all linear .3s;
	-o-transition: all linear .3s;
}
#manage-floder:hover,#manage-department:hover{
	background-color: #fff;
	color: #434343;
}
/*用户审核子模块中 li样式*/
.child-tag{
	line-height: 30px;
	padding-left: 30px;
	color: #fff;
	cursor: default;
	transition: all linear .3s;
	-webkit-transition: all linear .3s;
	-moz-transition: all linear .3s;
	-ms-transition: all linear .3s;
	-o-transition: all linear .3s;
}
.child-tag:hover{
	background-color: #fff;
	color: #434343;
}
#number-hints{
	display: none;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-left: 5px;  
	line-height: 25px;
	background-color: #E40045;
	color: #fff;
	font-size: 12px;
	text-align: center;
	border-radius: 50%;
}
/*右侧内容外层包裹层*/
.content{
	width: 98%;
	margin: 0 auto;
}
/*右侧模块包裹层*/
.content-wrap{
	display: none;
}
/*页面初始化提示文字样式*/
.welcome-hint .icon{
	margin-top: 20%;
	font-size: 45px;
	text-align: center;
}
.welcome-hint .icon-text{
	font-size: 18px;
	text-align: center;
}
/*修改导航，删除导航模块样式*/
.unexamie-wrap,.examie-wrap{
	width: 90%;
	margin: 30px auto 0 auto;
}
.filter-style{
	width: 125px;
	border-bottom: 1px solid #999;
	background-color: rgba(0, 0, 0, 0);
}
.message-list{
	width: 100%;
	margin-top: 20px;
}
.pass,.refuse,.admin{
	margin-right: 5px;
}
.divid-page-wrap{
	text-align: center;
}
/*管理员及领导权限管理模块*/
.manage-leader-admin-content{
	text-align: center;
}
.admin-list-wrap,.leader-list-wrap{
	display: inline-block;
	width: 40%;
	margin-top: 40px;
}
.admin-list-wrap{
	margin-right: 10px;
}
.leader-list-wrap{
	margin-left: 10px;
}
.admin-list-title,.leader-list-title{
	margin-top: 30px;
	text-align: center;
	word-spacing: -6px;
}
.admin-list-title div,.leader-list-title div{
	display: inline-block;
	width: 25%;
	font-size: 15px;
}
.admin-list-table-wrap,.leader-list-table-wrap{
	height: 400px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(160,162,122,0.5);
	overflow-y: scroll;
}
#admin-list tr td,#leader-list tr td{
	width: 25%;
	text-align: center;
}
/*侧边栏标签点击增加样式*/
.sidebar-tag-active{
	background-color: #fff;
	color: #000;
}