/*弹出层样式*/
#floor{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 20;
	visibility: hidden;
}
/*关闭按钮样式*/
.close-btn-wrap{
	padding-right: 15px;
	font-size: 25px;
	text-align: right;
}
/*修改导航弹出层关闭按钮 和 拒绝注册弹出层关闭按钮样式*/
#modify-nav-close-btn,#refuse-close-btn{
	cursor: pointer;
}
/*修改导航栏内容，拒绝用户注册最外层样式*/
#modify-nav-info,#refuse-info{
	width: 600px;
	background-color: #fff;
	margin: 10% auto 0 auto;
	padding-bottom: 50px;
}
/*修改导航弹出层标题 和 拒绝注册弹出层标题样式*/
#modify-nav-info h3,#refuse-info h3{
	text-align: center;
}
/*修改导航弹出层输入框样式*/
.modify-info-wrap{
	text-align: left;
	margin-top: 20px;
	padding-left: 20px;
}
/*修改导航弹出层按钮包裹层样式*/
.modify-btn-wrap{
	text-align: center;
	margin-top: 20px;
	padding-left: 20px;
}
/*修改导航栏label 元素样式*/
.modify-info-wrap label{
	display: inline-block;
	width: 120px;
	height: 35px;
	line-height: 35px;
	text-align: right;
}
/*修改导航栏输入框样式*/
.modify-info-wrap input{
	display: inline-block;
	width: 287px;
	height: 30px;
	line-height: 30px;
	padding-left: 3px;
	border: 1px solid #000;
}
/*修改导航栏弹出层系别选择下拉框样式*/
#belong-department,#refuse-content{
	display: inline-block;
	height: 30px;
	font-size: 15px;
	border: 1px solid #000;
}
/*修改导航栏弹出层--子导航栏内容输入框样式*/
#childTagInfo{
	width: 287px;
	height: 120px;
	vertical-align: middle;
	padding-left: 3px;
	border: 1px solid #000;
}
/*修改导航栏按钮样式*/
#modify-btn{
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	background-color: #3F92D2;
	text-align: center;
	color: #fff;
}
/*撤回用户弹出层 和 拒绝注册弹出层包裹层样式*/
.recall-user-wrap,.refuse-info-wrap{
	width: 90%;
	margin: 15px auto 0 auto;
}
/*撤回用户弹出层 和 拒绝注册弹出层 label元素样式*/
.recall-user-wrap label,.refuse-info-wrap label{
	display: block;
}
/*拒绝理由 和 撤回理由输入框样式*/
#refuse-content,#recall-content{
	width: 100%;
	height: 150px;
	margin-top: 10px;
	padding-left: 5px;
	border: 1px solid #000;
}
/*发送拒绝理由按钮 和 没有理由直接拒绝按钮综合样式*/
#send-refuse-info,#no-refuse-reason{
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
}
/*发送拒绝理由按钮样式*/
#send-refuse-info{
	background-color: #999;
}
/*没有理由直接拒绝按钮样式*/
#no-refuse-reason{
	background-color: #d20003;
}
/*删除导航弹出层样式*/
#delete-nav{
	width: 450px;
	height: 149px;
	margin: 15% auto 0 auto;
	padding-top: 1px;
	background-color: #ffffff; 
}
/*撤回用户使用权弹出层提示内容包裹层 和 删除导航弹出层内容包裹层样式*/
.recall-user-wrap,.delete-nav-wrap{
	width: 90%;
	margin: 15px auto 0 auto;
}
/*取消撤回按钮、确认撤回按钮、取消删除导航按钮、确认删除导航按钮综合样式*/
#cancel-recall-user,#confirm-recall-user,#cancel-delete-nav,#confirm-delete-nav{
	width: 80px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	border-radius: 10px;
}
/*取消撤回按钮和取消删除导航按钮 单独样式*/
#cancel-recall-user,#cancel-delete-nav{
	background-color: #44BB44;
}
/*确认删除按钮单独样式*/
#confirm-delete-nav{
	background-color: #E61A1A;
}
/*删除主体名称提示字段样式*/
#delete-navname,#refuse-username,#recall-username{
	color: #000;
}
/*撤回用户弹出层独立样式*/
#recall-user{
	width: 600px;
	height: 349px;
	margin: 10% auto 0 auto;
	padding-top: 1px;
	background-color: #ffffff; 
}
/*确认撤回按钮独立样式*/
#confirm-recall-user{
	background-color: #999;
}
/*弹出层提示内容包裹层样式*/
.operate-hint{
	display: inline-block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	background-color: #F2DEDF;
	border: 2px solid #EBCBD0;
	color: #A9433F;
}
.wrapper{
	width: 100%;
	height: 100%;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	font-size: 15px;
	background-color: #333333;
}
.title-wrap{
	float: left;
	width: 250px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.title-wrap h3{
	display: inline-block;
	vertical-align: middle;
	width: 70%;
	color: #fff;
	font-size: 20px;
}
.logout-btn-wrap{
	float: right;
	height: 50px;
	line-height: 50px;
	padding-right: 30px;
}
#logout-btn{
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #fff;
	color: #fff;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
#logout-btn:hover{
	background-color: #fff;
	color: #000;
}
.mainbody{
	padding-top: 60px;
	padding-left: 220px;
}
.side-bar{
	position: fixed;
	top: 50px;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: #494E52;
}
#tag-manage,#user-manage{
	line-height: 40px;
	background-color: #BEC2C5;
	text-align: center;
	cursor: default;
}
.child-tag{
	line-height: 30px;
	padding-left: 30px;
	color: #fff;
	cursor: default;
}
.child-tag:hover{
	background-color: #fff;
	color: #434343;
}
#number-hints{
	display: none;
	vertical-align: middle;
	margin-left: 5px;
	padding: 2px;  
	line-height: 22px;
	background-color: #E40045;
	color: #fff;
	font-size: 12px;
	text-align: center;
	border-radius: 50%;
}
/*右侧内容外层包裹层*/
.content{
	width: 98%;
	margin: 0 auto;
}
/*右侧模块包裹层*/
.content-wrap{
	display: none;
}
/*页面预加载 第一个内容选择框自动显示*/
.content-wrap:nth-child(1){
	display: block;
}
/*右侧模块包裹层下加载显示层样式（loading 图标层）*/
.loading-icon-wrap{
	display: none;
	width: 100%;
	height: 350px;
	line-height: 350px;
	text-align: center;
}
/*右侧加载图标样式*/
.loading-icon-wrap img{
	vertical-align: middle;
}
/*增加导航栏模块包裹层*/
.add-tag-wrap{
	width: 80%;
	margin: 30px auto 0 auto;
	text-align: center;
}
.add-tag-wrap p{
	width: 60%;
	margin: 15px auto 0 auto;
	text-align: left;
}
.add-tag-title{
	margin-bottom: 20px;
}
#add-tag-department{
	width: 120px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #999;
}
#father-tag-content,#childTagContent{
	width: 180px;
	height: 35px;
	line-height: 35px;
	padding-left: 5px;
	border-bottom: 1px solid #999;
}
#child-tag-wrap{
	display: none;
}
#add-tag-btn{
	width: 120px;
	height: 35px;
	line-height: 35px;
	background-color: #FF9900;
	color: #fff;
}
#add-tag-hint{
	visibility: hidden;
}
/*修改导航，删除导航模块样式*/
.modify-tag-wrap,.unexamie-wrap,.examie-wrap{
	width: 90%;
	margin: 30px auto 0 auto;
}
.filter-style{
	width: 125px;
	border-bottom: 1px solid #999;
}
.message-list{
	width: 100%;
	margin-top: 20px;
}
.pass{
	margin-right: 5px;
}
/*
.refuse{
	width: 90px;
	height: 25px;
	line-height: 25px;
	background-color: #FF3300;
	color: #fff;
}*/
/*.recall{
	width: 50px;
	height: 25px;
	line-height: 25px;
	background-color: #FF7081;
	color: #fff;
}
.modify-tag{
	width: 50px;
	height: 25px;
	line-height: 25px;
	background-color: #3470A6;
	color: #fff;
}
.delete-tag{
	width: 50px;
	height: 25px;
	line-height: 25px;
	background-color: #FF3300;
	color: #fff;
}*/
.divid-page-wrap{
	text-align: center;
}
/*侧边栏标签点击增加样式*/
.sidebar-tag-active{
	background-color: #fff;
	color: #000;
}