<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdaib.mapper.FileItemMapper" >
  <resultMap id="BaseResultMap" type="com.gdaib.pojo.FileItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="fileUid" property="fileuid" jdbcType="VARCHAR" />
    <result column="datatype" property="datatype" jdbcType="VARCHAR" />
    <result column="showing" property="showing" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="INTEGER" />
    <result column="prefix" property="prefix" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, uid, filename, fileUid, datatype, showing, position, prefix
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gdaib.pojo.FileItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_file_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gdaib.pojo.FileItemKey" >
    select 
    <include refid="Base_Column_List" />
    from t_file_item
    where id = #{id,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.gdaib.pojo.FileItemKey" >
    delete from t_file_item
    where id = #{id,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gdaib.pojo.FileItemExample" >
    delete from t_file_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gdaib.pojo.FileItem" >
    insert into t_file_item (id, uid, filename, 
      fileUid, datatype, showing, 
      position, prefix)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, 
      #{fileuid,jdbcType=VARCHAR}, #{datatype,jdbcType=VARCHAR}, #{showing,jdbcType=INTEGER}, 
      #{position,jdbcType=INTEGER}, #{prefix,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gdaib.pojo.FileItem" >
    insert into t_file_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="fileuid != null" >
        fileUid,
      </if>
      <if test="datatype != null" >
        datatype,
      </if>
      <if test="showing != null" >
        showing,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="prefix != null" >
        prefix,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="fileuid != null" >
        #{fileuid,jdbcType=VARCHAR},
      </if>
      <if test="datatype != null" >
        #{datatype,jdbcType=VARCHAR},
      </if>
      <if test="showing != null" >
        #{showing,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        #{position,jdbcType=INTEGER},
      </if>
      <if test="prefix != null" >
        #{prefix,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gdaib.pojo.FileItemExample" resultType="java.lang.Integer" >
    select count(*) from t_file_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_file_item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.filename != null" >
        filename = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.fileuid != null" >
        fileUid = #{record.fileuid,jdbcType=VARCHAR},
      </if>
      <if test="record.datatype != null" >
        datatype = #{record.datatype,jdbcType=VARCHAR},
      </if>
      <if test="record.showing != null" >
        showing = #{record.showing,jdbcType=INTEGER},
      </if>
      <if test="record.position != null" >
        position = #{record.position,jdbcType=INTEGER},
      </if>
      <if test="record.prefix != null" >
        prefix = #{record.prefix,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_file_item
    set id = #{record.id,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=VARCHAR},
      filename = #{record.filename,jdbcType=VARCHAR},
      fileUid = #{record.fileuid,jdbcType=VARCHAR},
      datatype = #{record.datatype,jdbcType=VARCHAR},
      showing = #{record.showing,jdbcType=INTEGER},
      position = #{record.position,jdbcType=INTEGER},
      prefix = #{record.prefix,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdaib.pojo.FileItem" >
    update t_file_item
    <set >
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="fileuid != null" >
        fileUid = #{fileuid,jdbcType=VARCHAR},
      </if>
      <if test="datatype != null" >
        datatype = #{datatype,jdbcType=VARCHAR},
      </if>
      <if test="showing != null" >
        showing = #{showing,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=INTEGER},
      </if>
      <if test="prefix != null" >
        prefix = #{prefix,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdaib.pojo.FileItem" >
    update t_file_item
    set filename = #{filename,jdbcType=VARCHAR},
      fileUid = #{fileuid,jdbcType=VARCHAR},
      datatype = #{datatype,jdbcType=VARCHAR},
      showing = #{showing,jdbcType=INTEGER},
      position = #{position,jdbcType=INTEGER},
      prefix = #{prefix,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=VARCHAR}
  </update>
</mapper>