<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdaib.mapper.FileItemExtMapper">

    <insert id="insertFileItemByList" parameterType="map">
        INSERT INTO t_file_item(uid,filename,fileUid,datatype,showing,position,prefix) VALUE
        <foreach collection="fileItems" item="fileItem" open=" " close=" " separator=",">
            (#{fileItem.uid},#{fileItem.filename},#{fileUid},#{fileItem.datatype},#{fileItem.showing},#{fileItem.position},#{fileItem.prefix})
        </foreach>
    </insert>

    <select id="selectFileItemByUid" parameterType="String" resultType="com.gdaib.pojo.FileItemCustom">
        SELECT
t_file.filePath,
t_file_item.*
FROM
t_file_item
INNER JOIN t_file ON t_file_item.fileUid = t_file.uid
WHERE
t_file_item.uid = #{uid}

    </select>

    <delete id="deleteFileItemByFileUid" parameterType="String">
        delete from t_file_item where fileUid=#{fileUid}
    </delete>
</mapper>