<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdaib.mapper.UsersMapper">




    <!--帐号是否存在-->
    <select id="findAccountFromUsername" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM `t_account` WHERE username = #{account}
    </select>

    <!--插入用户信息-->
    <select id="insertUserFromAccount" parameterType="Account">
        INSERT INTO `t_account`(username,PASSWORD,NAME,mail,dp_id) VALUES(#{username},#{password},#{name},#{mail},#{dp_id})
    </select>




</mapper>